{% extends "project-portfolio/templates/page.html" %}

{%- block extra_headers -%}
<meta name="fediverse:creator" content="@immersum@mastodon.social">
{%- endblock -%}

{% block page_footer %}
{#- Show comments and link to Mastodon post, if the comments variables are set for the page. -#}
{%- if page.extra.comments.host and page.extra.comments.username and page.extra.comments.id -%}
<hr class="mb-2"></hr>

{#- Generate comment filename from current filename (same name different path) and load its content. -#}
{%- set comments_file = page.relative_path | split(pat="/") | last -%}
{%- set comments = get_page(path="blog-comments/" ~ comments_file) -%}

{#- Show comments, if there are any in the comments file. -#}
{%- if comments.content -%}
<h2>{{ content::translate(value='Comments', i18n=i18n, i18n_user=i18n_user) }}</h2>
{{ comments.content | safe }}
{%- endif -%}

{#- Show link to the corresponding Mastodon post. -#}
<div class="flex flex-col  items-center mt-2">
<a href="https://{{ page.extra.comments.host }}/@{{ page.extra.comments.username }}/{{ page.extra.comments.id }}"
    title="{{ trans(key='comment_mastodon_link_title', lang=lang) }}" target="_blank" class="italic">{{ content::icon(id="mastodon") }}{{ trans(key='comment_mastodon_link_text', lang=lang) }}</a>
</div>
{%- endif -%}
{% endblock %}
